<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cghsir.dao.InstructionsDao">
  <resultMap id="BaseResultMap" type="com.cghsir.model.Instructions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="instructions" jdbcType="VARCHAR" property="instructions" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="revision_time" jdbcType="TIMESTAMP" property="revisionTime" />
    <result column="revisor" jdbcType="VARCHAR" property="revisor" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, instructions, description, create_time, creator, revision_time, revisor, remarks, 
    is_delete, pid
  </sql>
  
  <select id="queryList" parameterType="com.cghsir.model.Instructions" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" />
    from instructions
    where 1 = 1
    <if test="instructions != null and instructions != ''">
        AND instructions = #{instructions,jdbcType=VARCHAR}
    </if>
    <if test="creator != null and creator != ''">
        AND creator = #{creator,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from instructions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from instructions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cghsir.model.Instructions">
    insert into instructions (id, instructions, description, 
      create_time, creator, revision_time, 
      revisor, remarks, is_delete, 
      pid)
    values (#{id,jdbcType=INTEGER}, #{instructions,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{revisionTime,jdbcType=TIMESTAMP}, 
      #{revisor,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, 
      #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cghsir.model.Instructions">
    insert into instructions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instructions != null">
        instructions,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="revisionTime != null">
        revision_time,
      </if>
      <if test="revisor != null">
        revisor,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="instructions != null">
        #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="revisionTime != null">
        #{revisionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="revisor != null">
        #{revisor,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cghsir.model.Instructions">
    update instructions
    <set>
      <if test="instructions != null">
        instructions = #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="revisionTime != null">
        revision_time = #{revisionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="revisor != null">
        revisor = #{revisor,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cghsir.model.Instructions">
    update instructions
    set instructions = #{instructions,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      revision_time = #{revisionTime,jdbcType=TIMESTAMP},
      revisor = #{revisor,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>